<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= Recipes.name %>
  </title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
    <h1>
      <%= Recipes.name %>
    </h1>
    <h2>
      <%= Recipes.instructions %><br>
        <%= Recipes.ingredients%>
    </h2>
    <!-- new delete button -->
    <form action="/recipes/<%=Recipes._id%>?_method=DELETE" method="POST">
      <button type="submit">Delete <%= Recipes.name %></button>
    </form>
    <form action="/recipes/<%=Recipes._id%>/edit">
      <button type="submit">Edit <%= Recipes.name %></button>
    </form>
    <a href="/recipes">Back to Recipes</a>
</body>

</html>